/* #html { */
/* 	background-color:#60C046; */
/* } */
/* #body { */
/* 	background-color:#60C046; */
/* } */

/* /\* Global CSS *\/ */
/* a:link { */
/* 	color:white; */
/* 	text-decoration:underline; */
/* } */
/* a:visited{ */
/* 	color:black; */
/* 	text-decoration:none; */
/* } */

/* /\* Local CSS *\/ */
/* #header { */
/* 	position:relative; */
/* 	background-color:#60C046; */
/* 	width:800px; */
/* 	height:100px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* } */
/* 	#header h1 { */
/* 		font:600 32pt helvetica; */
/* 	} */

/* #nav { */
/* 	position:relative; */
/* 	background-color:#535353; */
/* 	height:30px; */
/* 	width:800px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* } */
/* 	#nav li,ul { */
/* 		display:inline; */
/* 	} */
/* 	#nav li { */
/* 		font:11pt arial; */
/* 	} */

/* #content { */
/* 	position:relative; */
/* 	background-color:#DCDCDC; */
/* 	width:800px; */
/* 	height:420px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* 	color:#000000; */
/* } */
/* 	#content h1 { */
/* 		font:bold 18pt arial; */
/* 	} */
/* 	#content p { */
/* 		font:normal 12pt arial; */
/* 		margin-bottom:5px; */
/* 	} */

/* #footer { */
/* 	position:relative; */
/* 	width:800px; */
/* 	height:50px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* 	border-top:1px solid #535353; */
/* 	background-color:#535353; */
/* } */
/* 	#footer li,ul { */
/* 		display:inline; */
/* 	} */
/* 	#footer li { */
/* 		font:11pt arial; */
/* 	} */


#repositories div.repository {
		display: inline-block;
		border: solid black;
    padding-left: 20px;
		padding-right: 20px;
		width: auto;
}

#content div.commit {
		display: inline-block;
#		float: left;
	  border: solid black;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
}

#content div.commit table.filechange {
		min-width: 600px;
		position: relative;
		left: 30px;
		margin-bottom: 20px;
}

#content div.commit table.filechange th{
		width: auto;
		text-align: left;
}

#content div.commit div.filechange .descriptor {
		font-weight: bold;
}

#nav {
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font-weight:bold;
}

#nav #repositoryMenu:hover ul {
    list-style-type: none;
    display: block;
}

#nav ul {
    list-style-type: none;
    height: 43px;
}

#nav ul li a {
    font-style: normal;
    text-decoration: none;
    color: black;
}

#nav ul li  {
    text-align: center;
}

#nav ul li a:hover {
    color: gray;
}

#nav ul li:hover {
    color: gray;
}

#nav ul li {
    color: black;
    width: 150px;
}

#nav li {
    float: left;
}

#nav li li {
    display: block;
    float: none;
}

#nav li ul li {
    display: block;
}

#nav li ul a {
    display: block;
    font-size: 12px;
    font-style: normal;
    padding: 0px 10px 0px 10px;
    text-align: left;
}

#nav li ul a:hover {
    background: #949494;
    color: #000000;
}

#nav ul li ul {
    padding: 10px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display:none;
    height:auto;
    position:absolute;
    z-index:200;
}
