/* #html { */
/* 	background-color:#60C046; */
/* } */
/* #body { */
/* 	background-color:#60C046; */
/* } */

/* /\* Global CSS *\/ */
/* a:link { */
/* 	color:white; */
/* 	text-decoration:underline; */
/* } */
/* a:visited{ */
/* 	color:black; */
/* 	text-decoration:none; */
/* } */

/* /\* Local CSS *\/ */
/* #header { */
/* 	position:relative; */
/* 	background-color:#60C046; */
/* 	width:800px; */
/* 	height:100px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* } */
/* 	#header h1 { */
/* 		font:600 32pt helvetica; */
/* 	} */

/* #nav { */
/* 	position:relative; */
/* 	background-color:#535353; */
/* 	height:30px; */
/* 	width:800px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* } */
/* 	#nav li,ul { */
/* 		display:inline; */
/* 	} */
/* 	#nav li { */
/* 		font:11pt arial; */
/* 	} */

/* #content { */
/* 	position:relative; */
/* 	background-color:#DCDCDC; */
/* 	width:800px; */
/* 	height:420px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* 	color:#000000; */
/* } */
/* 	#content h1 { */
/* 		font:bold 18pt arial; */
/* 	} */
/* 	#content p { */
/* 		font:normal 12pt arial; */
/* 		margin-bottom:5px; */
/* 	} */

/* #footer { */
/* 	position:relative; */
/* 	width:800px; */
/* 	height:50px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* 	border-top:1px solid #535353; */
/* 	background-color:#535353; */
/* } */
/* 	#footer li,ul { */
/* 		display:inline; */
/* 	} */
/* 	#footer li { */
/* 		font:11pt arial; */
/* 	} */


#repositories div{
    border: solid black;
    padding-left: 10px;
}

#nav {
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font-weight:bold;
    color:8e8e8e;
}

#nav #repositoryMenu:hover ul {
    list-style-type: none;
    display: block;
}

#nav ul {
    list-style-type: none;
    height: 43px;
}

#nav ul li {
    padding-right: 25px;
}

#nav li {
    float: left;
}

#nav li li {
    display: block;
    float: none;
}

#nav li ul {
    list-style-position: outside;
    list-style-image: none;
}

#nav li ul li {
    display: block;
}

#nav li ul a {
    display: block;
    font-size: 12px;
    font-style: normal;
    padding: 0px 10px 0px 10px;
    text-align: left;
}

#nav li ul a:hover {
    background: #949494;
    color: #000000;
    opacity: 1.0;
    filter: alpha( opacity = 100 );
}

#nav li ul {
    border:2px solid black;
    display:none;
    height:auto;
    filter:alpha(opacity=95);
    opacity:0.95;
    position:absolute;
    z-index:200;
}