/* #html { */
/* 	background-color:#60C046; */
/* } */
/* #body { */
/* 	background-color:#60C046; */
/* } */

/* /\* Global CSS *\/ */
/* a:link { */
/* 	color:white; */
/* 	text-decoration:underline; */
/* } */
/* a:visited{ */
/* 	color:black; */
/* 	text-decoration:none; */
/* } */

/* /\* Local CSS *\/ */
/* #header { */
/* 	position:relative; */
/* 	background-color:#60C046; */
/* 	width:800px; */
/* 	height:100px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* } */
/* 	#header h1 { */
/* 		font:600 32pt helvetica; */
/* 	} */

/* #nav { */
/* 	position:relative; */
/* 	background-color:#535353; */
/* 	height:30px; */
/* 	width:800px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* } */
/* 	#nav li,ul { */
/* 		display:inline; */
/* 	} */
/* 	#nav li { */
/* 		font:11pt arial; */
/* 	} */

/* #content { */
/* 	position:relative; */
/* 	background-color:#DCDCDC; */
/* 	width:800px; */
/* 	height:420px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* 	color:#000000; */
/* } */
/* 	#content h1 { */
/* 		font:bold 18pt arial; */
/* 	} */
/* 	#content p { */
/* 		font:normal 12pt arial; */
/* 		margin-bottom:5px; */
/* 	} */

/* #footer { */
/* 	position:relative; */
/* 	width:800px; */
/* 	height:50px; */
/* 	margin-left:auto; */
/* 	margin-right:auto; */
/* 	border-top:1px solid #535353; */
/* 	background-color:#535353; */
/* } */
/* 	#footer li,ul { */
/* 		display:inline; */
/* 	} */
/* 	#footer li { */
/* 		font:11pt arial; */
/* 	} */

body {
	background-color: lightblue;
}

#content {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	padding-top: 5px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

#content span, #content form, #content h1, #content h3, #content p{
		padding-left: 25px;
}

#repositories {
		padding-left: 25px;
		padding-right: 25px;
}

#repositories div.repository {
		display: inline-block;
		border: solid black;
    padding-right: 20px;
		width: auto;
}

#content div.commit {
		display: inline-block;
	  border: solid black;
		width: auto;
		margin-right: 25px;
		margin-left: 25px;
		padding-right: 25px;
}

#content .pagination {
		margin-left: 25px;
}

#content div.commit div p {
		margin-left: 25px;
}

#content div.commit table.filechange {
		min-width: 600px;
		position: relative;
		left: 30px;
		margin-bottom: 20px;
		margin-left: 25px;
}

#content div.commit table.filechange th{
		width: auto;
		text-align: left;
}

.descriptor {
		font-weight: bold;
}

.link {
		color: blue;
		text-decoration: underline;
}

.link:hover {
		cursor: pointer;
}

#nav {
		margin-bottom: 25px;
		padding-top: 1px;
		background-color: white;
    font-weight:bold;
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
}

#nav #repositoryMenu:hover ul {
    list-style-type: none;
    display: inline;
		width: auto;
		margin-left: auto;
		margin-right: auto;
}

#nav ul {
    list-style-type: none;
    height: 43px;
		margin-left: auto;
		margin-right: auto;
		width: 1024px;
		text-align: center;
}

#nav ul li a {
    font-style: normal;
    text-decoration: none;
    color: black;
}

#nav ul li  {
    text-align: center;
}

#nav ul li a:hover {
    color: gray;
}

#nav ul li:hover {
    color: gray;
}

#nav li {
    display: inline;
		padding-right: 20px;
		font-weight: bold;
		text-align: center;
		color: black;
    width: 150px;

}

#nav li li {
    display: block;
}

#nav li ul li {
    display: block;
}

#nav li ul a {
    display: block;
    font-size: 12px;
    font-style: normal;
    text-align: left;
}

#nav li ul a:hover {
    background: #949494;
    color: #000000;
}

#nav ul li ul {
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display:none;
    height:auto;
    position:absolute;
		background-color: white;
		top: 45px;
		left: 47%;
    z-index:200;
}

#footer {
		padding-top: 1px;
		padding-bottom: 1px;
		margin-left: auto;
		margin-right: auto;
		width: 1024px;
		background-color: white;
		text-align: center;
}

.curved {
		-moz-border-radius: 2em;
		border-radius: 2em;
}

.pagination {
	font-size: 80%;
}

#paginationbottom{
	margin-bottom: 25px;
}

.pagination a {
	text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
	display: block;
	float: left;
	padding: 0.3em 0.5em;
	margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
	background: #26B;
	color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

