body {
	background-color: #99ff77;
	background-image: url('../../images/logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center left;
}

#content {
	background-color: white;
	opacity: 0.95;
	filter:alpha(opacity=95);
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	padding-top: 5px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.indent {
	padding-left: 25px;
}

.bold {
	font-weight: bold;
}

#repositories {
	padding-left: 25px;
	padding-right: 25px;
}

#repositories div.repository {
	display: inline-block;
	border: solid black;
    padding-right: 20px;
	width: 75%;
}

#content div.commit {
	display: inline-block;
	border: solid black;
	width: 75%;
	margin-right: 25px;
	margin-left: 25px;
	padding-right: 25px;
}

#content .pagination {
		margin-left: 25px;
}

#content div.commit div p {
		margin-left: 25px;
}

#content div.commit table.filechange {
		min-width: 600px;
		position: relative;
		left: 30px;
		margin-bottom: 20px;
		margin-left: 25px;
}

#content div.commit table.filechange th{
		width: auto;
		text-align: left;
}

.descriptor {
		font-weight: bold;
}

.link {
		color: #339933;
		text-decoration: underline;
}

.link:hover {
		cursor: pointer;
}

.commitImage {
	position: relative;
	top: 5px;
}

#code {
	margin-left: 50px;
	border: solid thin black;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80%;
}

#nav {
	opacity:0.95;
	margin-bottom: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
    font-weight:bold;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#nav #repositoryMenu:hover ul {
    list-style-type: none;
    display: inline;
	width: auto;
}

#nav ul {
    list-style-type: none;
	width: 1024px;
	display: inline;
}

#nav ul li a {
    font-style: normal;
    text-decoration: none;
    color: black;
}

#nav ul li  {
    text-align: center;
}

#nav ul li a:hover {
    color: gray;
}

#nav ul li:hover {
    color: gray;
}

#nav li {
    display: inline;
	padding-right: 20px;
	font-weight: bold;
	text-align: center;
	color: black;
    width: 150px;

}

#nav li li {
    display: block;
}

#nav li ul li {
    display: block;
}

#nav li ul a {
    display: block;
    font-size: 12px;
    font-style: normal;
    text-align: left;
}

#nav li ul a:hover {
    background: #949494;
    color: #000000;
}

#nav ul li ul {
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display:none;
    height:auto;
    position:absolute;
	background-color: white;
	top: 48px;
	left: 46%;
/*    z-index:200;*/
}

#footer {
	opacity: 0.95;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	background-color: white;
	text-align: center;
}

#footer ul {
	list-style-type: none;
	display: inline;
}

.curved {
		-moz-border-radius: 2em;
		border-radius: 2em;
}

.pagination {
	font-size: 80%;
}

#paginationbottom{
	margin-bottom: 25px;
}

.pagination a {
	text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
	display: block;
	float: left;
	padding: 0.3em 0.5em;
	margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
	background: #26B;
	color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

