html {
	color:#000;
	background:#FFF;
}
html,body,
div,span, applet, object, iframe,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
a, abbr, acronym, address, big, cite,pre,code,
form,fieldset,legend.label,input,textarea,
p,blockquote,del, dfn, em, font, img, ins, kbd, q, s, samp,
table, caption, tbody, tfoot, thead, tr,th,td{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	line-height:0;
	color:#000;
	background:#FFF;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style: none;
}
li{
	list-style:none;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
blockquote:before, blockquote:after,q:before,q:after{
	content:'';
}
blockquote, q {
	quotes: "" "";
}

abbr,acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,textarea,select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,textarea,select{
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend{
	color:#000;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
